@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    padding: 20px;
    margin-top: 0px;
    background-color: whitesmoke;
}

#mae {
    width: 1000px;
    height: 1140px;
    border: 4px;

    margin-top: -20px;
    position: relative;
    border-style: solid;
    border-color: #243B0B;
    text-align: center;
    font-family: arial;
    background-color: white;
    border-radius: 20px 20px 20px 20px;


}


h1 {
    margin-bottom: 5px;
    margin-left: 8px;
    color: #00FF00;

}

#foto {
    width: 300px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input,
textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover,
input:focus,
textarea:focus {
    border-color: darkgreen;
    box-shadow: 5px 0px 9px black;
    background-color: #81F781;
    color: black;
    font-weight: bold;
}

.submit input {
    background-color: #81F781;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}



form label {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
}

form {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    top: 10px;
    background-color: #FFFAFA;
    max-width: 480px;
    height: 48;
    border: solid;
    border-color: #81F781;
}

form label {
    float: left;
    padding-left: 10px;
}

form input {
    align-content: right;
}

.btncomum {
    padding-left: 40px;
    float: left;
}


.btncomum:hover {
    color: white;
    border-radius: 10px 10px 10px 10px;
}

#rodape {
    background-color: #243B0B;
    width: 992px;
    height: 196px;
    padding: 5px;
    float: right;
    color: aliceblue;
}

.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
    color: #fff;
    border-color: #fff;
}

.lead {
    font-family: verdana;
    padding: 100px;
}


.container {
    height: 80px;
    width: 150px;
}

.container2 {
    height: 50px;
    padding-left: 200px;
    background-color: #243B0B;
    color: aliceblue
}
.container5 {
    height: 102px;
}

.fundolog {
    height: 780px;
    width: 989px;
    background-color: whitesmoke;
}

.dropdown {
    padding-left: 40px;
    border-color: ;
}




a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    left: auto;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 180px;
    left: 0;
    height: 230px;
    top: 50px;
    margin-bottom: auto;
    background: #243B0B;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #243B0B;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#sidebar ul p {
    color: #243B0B;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #81F781;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;

}


/*a[data-toggle="collapse"] {
    position: relative;
}*/

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;

}

ul.CTAs {
    padding: 10px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: whitesmoke;
    color: #243B0B;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }
}

/*------------------------------------------*/

a.ad:link {
    color: white;
    text-decoration: none;
}

a.ad:visited {
    color: white;
    text-decoration: none;
}

a.ad:hover {
    color: white;
    text-decoration: none;
    color: white;
}

a.ad:active {
    color: white;
    text-decoration: none;
}

/**/

a.pdf:link {
    color: darkgreen;
    text-decoration: none;
}

a.pdf:visited {
    color: darkgreen;
    text-decoration: none;
}

a.pdf:hover {
    color: darkgreen;
    text-decoration: none;
    color: white;
}

a.pdf:active {
    color: darkgreen;
    text-decoration: none;
}





.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
    color: #fff;
    background-color: #b91773;
    border-color: #fff;
}

.lead {
    font-family: verdana;
    padding: 100px;
}

.dropdown {
    padding-left: 40px;
}

#tabelas {
    width: 992px;
    height: 600px;
    background-color: whitesmoke;
}

a.link {
    color: #243B0B;
}

.col-sm {
    height: 50px;
    width: 50px;
    float: left;
    
}
.email {
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    border: 1px solid black;
    
}