
p{text-align: left;}

#mae {
width: 1000px;
height: 1510px;
border: 4px;
border-style:solid;
border-color: #243B0B;
text-align: center;
font-family: arial;
background-color:white; 
border-radius: 20px 20px 20px 20px;
    
}
#mae_cart {
width: 1000px;
height: 1100px;
border: 4px;
border-style:solid;
border-color: #243B0B;
text-align: center;
font-family: arial;
background-color:white; 
border-radius: 20px 20px 20px 20px;
    
}


#mae_desenvolvedor {
width: 1000px;
height: 1500px;
border: 4px;
border-style:solid;
border-color: #243B0B;
text-align: center;
font-family: arial;
background-color:white; 
border-radius: 20px 20px 20px 20px;
    
}

#maeconf {
    
width: 1000px;
height: 150px;
border: 4px;
border-style:solid;
border-color: #243B0B;
text-align: center;
font-family: arial;
background-color:white; 
border-radius: 20px 20px 20px 20px;
    
}
#maecadprod
{
    
    width: 1000px;
    height: 1100px;
    border: 4px;
    border-style:solid;
    border-color: #243B0B;
    border-radius: 20px 20px 20px 20px;
    font-family: arial;
    background-color:white;
    position: relative;
    
    
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #b91773;
   border-color: #fff;
}

.lead{
    font-family: verdana;
    padding: 100px;
}

.container{
height: 100px;
width: 150px;
background-color: white;


}
.container2
{
height: 50px;
    padding-left: 200px;
    background-color: #243B0B;
    color: aliceblue
}

.container{
height: 80px;
width: 150px;
}

/*logo*/
.imagem{
    height: 100px;
    width: 20px;
}

.lead{
    text-align: center;
}

.jumbotron{
    color:#243B0B;
}

.display-4{
    font-family: verdana;
    /*font-display: block;*/
}
.letra
{
    font-family: arial;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    color: black;
}

.dropdown{
    padding-left: 40px;
}

#fundocart {
    height: 780px;
    width: 989px;
    background-color: white;
}
#fundofinal {
    height: 780px;
    width: 989px;
    background-color: white;
}

.dropdown{
    padding-left: 40px;
    border-color: aqua;
}

.btncomum
{
    padding-left: 40px;
    float: left;
   /* border: groove;
    border-color: #E6E6E6;
    top: 5px; */
}
.btnconfirma
{
    padding-left: 500px;
    float: left;
}

.btncomum:hover{
	color: white;
    text-align: center;
/*	background-color: darkgray;
	border-radius: 10px 10px 10px 10px; */
}
/*home*/
#txt_principal
{
    width: 990px;
    height: 75px;
	background-color: whitesmoke;	
}

 #img_txt
{
	background-color: whitesmoke;
	width: 990px;
	height: 300px;
}
 #img1
{
	background-color: whitesmoke;
	width: 330px;
	height: 150px;
	float: left;  
}

#filme_txt
{
	background-color: whitesmoke;
	width: 500px;
	height: 300px;
    float: left;
    right: 590px;
    
}
#txt_filme{
	background-color: aliceblue;
	height: 315px;
    width: 490px;
	float: left;
    right: 2000px;
}
#fotodes
{
    background-color: white;
    width: 990px;
    height: 330px;
}
/*final*/

#rodape{
	background-color: #243B0B;
	width: 992px;
	height: 196px;
    padding: 5px;
	float: right;
    color: aliceblue;
}

/*desenvolvedores*/
#fundodes
{
    background-color: white;
    height: 1177px;
    width: 992px;
}


#img_desenvolvedor_baixo
{
    background-color: aquamarine;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 160px;
    
}
#img_desenvolvedor
{
    background-color: aquamarine;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 80px;
    
}

#txt_desenvolvedor
{
    background-color: coral;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 43px;
    
}


.container2{
    padding-left: 95px;
    height: 50px;
    padding-left: 200px;
    background-color: #243B0B;
    color: aliceblue;
}

#desenvolvedor
{
    
    background-color: black;
    height: 150px;
    width: 995px;
    float: left;
}
/*final*/

#fundoprod{
    width: 990px;
    height: 1170px;
    background-color : white;
}

/*Esqueci*/
#fundoesq
{
    height: 500px;
    width: 992px;
}
.texto
{
    text-align: center;
}

.envio input {
    background-color: #81F781;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

/* Links */

 

a.fim:link{color:blue;
    text-decoration: none;    }

a.fim:visited{color:blue;
    text-decoration: none;    }

a.fim:hover{color:blue;
    text-decoration: none;
    color: black;
}
a.fim:active{color:blue;
    text-decoration: none;    }
/*

a.fim:link{color:black;
    text-decoration: none;    }

a.fim:visited{color:black;
    text-decoration: none;    }

a.fim:hover{color:black;
    text-decoration: none;
    color: darkcyan;
}
a.fim:active{color:black;
    text-decoration: none;    }
*/



a.saiba:link{
    color:red; 
    text-decoration: none;}

a.saiba:visited{color:red;
    text-decoration: none;    }

a.saiba:hover{color:black;
    text-decoration: none;
    color: darkcyan;}
a.saiba:active{color:black;
    text-decoration: none;    }

/* cat */
#categoria 
{
    height: 50px;
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px; */
    border: 1px solid;
}

#categoria:hover{
    border-color: darkgreen;
    box-shadow: 5px 0px 9px black;;
    background-color:#81F781 ;
    color: black;
    font-weight: bold;
}

#foto{
     width: 300px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px; */
    border: 1px solid;
}
 
input, textarea {
    padding: 10px;
    color: black;
    margin-left: 20px;
    border: 1px solid;
}
.hidden input
{ 
    width: 60px;
    padding: 10px;
    color: black;
    margin-left: 20px;
   
    border: 1px solid;
    
}
 
input:hover, input:focus, textarea:focus {
    border-color: darkgreen;
    box-shadow: 5px 0px 9px black;
    background-color:#81F781;
    color: black;
    font-weight: bold;
}
 
.submit input {
    background-color: #81F781;
    height: 40px;
    width: 300px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

form label {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
}
#bordatotal{
    border-top: 3px;
    border-style: solid;
    border-color: black;
}
#formcadprod {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    top: 10px;
    background-color: #FFFAFA;
    max-width: 480px;
    height: 48;
    border: solid;
    border-color: #81F781;
}
#produtosform {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    top: 10px;
    background-color: #FFFAFA;
    height: 48;
}

form label{
    float: left;
    padding-left: 10px;
}
form input{
   align-content: right;
}
.col-sm-2{
    border-right: 3px;
    border-top: 3px;
    border-bottom: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    
}
.col-sm-3{
    border-right: 3px;
    border-top: 3px;
    border-bottom: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    
}

.col-sm-7{
    border-top: 3px;
    border-top-style: solid;
    text-align: right;
    border-color: black;
    
}

.col-sm-5{
    border-top: 3px;
    border-top-style: solid;
    text-align: left;
    border-color: black;
    
}

.col{
    border: 3px;
    border: solid;
    border-color: black;
}
#car
{
    height: 900px;
    background-color:   whitesmoke;
}

